$carousel-height: 400px;
.developers{
    padding: 2rem 0;
    &__carousel{
        display: flex;
        width: 100%;
        margin: 2rem 0;
        height: $carousel-height;
        &-side{
            background-color: rgb(28, 29, 52);
            width: 50%;
            opacity: 0.3;
            pointer-events: none;
        }
        &-mid{
            background-color: #282930;
            width: 50%;
        }
        &-arrow{
            margin-top:$carousel-height / 2;
            transform: translateY(-50%);
            text-align: center;
        }
        &-left{
            display: none;
        }
        &-arrow{
            cursor: pointer;
        }
    }
    &__single-box{
        display: flex;
        flex-direction: column;
        padding: 5%;
        align-items: center;
        text-align: center;
    }
    &__image{
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
    &__position, &__name{
        font-weight: bold;
        margin: 1rem 0;
    }
    &__list{
        font-size: 0.85rem;
        &-item{
            text-decoration: underline;
            margin: 3px 0;
            &:hover a{
                color: rgb(213, 213, 213);
            }
        }
    }
}

@media (min-width:760px) {
    .developers{
        &__carousel{
            &-left{
                display: block;
            }
            &-side{
                width: 30%;
            }
            &-mid{
                width: 40%;
            }
        }
    }
}