$main-color: rgba(0,125,211,0.3);

.creators{
    display: flex;
    flex-direction: column;
    &__heading{
        text-transform: capitalize;
    }
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        &-creator{
            width: 100%;
            height: 350px;
            background-size: cover;
            background-position: center;
            @include relativeBackground;
            align-items: flex-start;
            &::before{
                @include backgroundDarker;
            }
        }
        &-info{
            display: flex;
            flex-direction: column;
            background-color: $main-color;
            position: relative;
            width: 100%;
            align-self: flex-end;
            padding: 2% 5%;
        }
        &-count-wrapper{
            display: flex;
            justify-content: space-between;
            height: 100%;
        }
        &-h3{
            position: absolute;
            top: 30%;
            transition: .3s;
            &:hover{
                font-size: 1.4rem;
            }
        }
        &-link{        
            display: inline-block;
            position: relative;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            &-list{
                display: inline-block;
                margin: 0.1rem 0;
                border-bottom: 1px solid rgb(231, 231, 255);
            }
        }
    }
}

@media (min-width: 760px){
    .creators__wrapper{
        &-creator{
            width: 33.33%;
        }
    }
}
@media (min-width: 1200px){
    .creators{
        width: 90%;
    }
}