$header-bg: #111e2b;

.header {
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5vw;
        background-color: $header-bg;
        position: relative;
    }
    &__form {
        display: flex;
    }
    &__input {
        width: 50%;
        @include formInput;
    }
    &__btn {
        @include formButton;
    }
    &__display-list {
        position: absolute;
        padding: 1rem 0;
        text-align: center;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: $secondary-color;
        z-index: 2;
    }
    &__mobile-icon {
        width: 40px;
    }
    &__empty {
        display: none;
    }
}

@media (min-width: 1200px) {
    .header {
        &__nav {
            padding: 1rem 20vw;
            justify-content: space-evenly;
        }
        &__empty {
            display: block;
        }
        &__mobile-nav {
            display: none;
        }
        &__search {
            width: 50%;
            text-align: center;
        }
        &__input {
            width: 100%
        }
    }
}